$positions: 0, 1;
@each $position in $positions {
	.top-#{$position} {
		top: #{$position}em !important;
	}
	.bottom-#{$position} {
		bottom: #{$position}em !important;
	}
	.right-#{$position} {
		right: #{$position}em !important;
	}
	.left-#{$position} {
		left: #{$position}em !important;
	}
}

$zindex: 1, 2, 3, 4, 5;
@each $index in $zindex {
	.z-index-#{$index} {
		z-index: #{$index} !important;
	}
}
