.md-table {
	&.md-theme-default {
		.md-table-pagination {
			border: 0;
		}
	}
	.md-table-fixed-header {
		flex-grow: 0;
		flex-shrink: 0;
	}
	.md-table-content {
		max-height: 100% !important;
		height: auto !important;
		flex-grow: 1;
		flex-shrink: 0;
		overflow: auto;
		table {
			table-layout: fixed;
		}
	}
}
