<template>
	<rct-loader-overlay :progress="inprogress" class="mnh-100 d-flex flex-column flex-fill">
		<md-content class="h-100 d-flex flex-column flex-fill">
			<div class="d-flex align-items-center flex-shrink-0">
				<md-button class="md-icon-button md-mini m-0 mr-3" :to="{ name: 'cities'}">
					<md-icon>arrow_back</md-icon>
				</md-button>
				<div class="flex-fill md-display-1">{{ $t("pages.addCity") }}</div>
			</div>
			<div class="flex-fill overflow-hidden d-flex">
				<rct-form
					class="flex-fill"
					@save="save"
					@cancel="cancel"
					:save-label="$t('buttons.save')"
					:cancel-label="$t('buttons.cancel')"
				>
					<rct-form-autocomplete-async
						v-model="city.placeId"
						opt-label="name"
						@change="change"
						@input="change"
						:label="$t('forms.city')"
						:options="search"
						:validation="{required: true}"
					></rct-form-autocomplete-async>
					<rct-form-text
						v-model="city.name"
						:label="$t('forms.displayName')"
						:disabled="!city.placeId"
						:validation="{required: true}"
					></rct-form-text>
				</rct-form>
			</div>
		</md-content>
	</rct-loader-overlay>
</template>
