
  <template>
  <rct-loader-overlay
    :progress="loading"
    class="flex-fill mh-100 d-flex flex-column overflow-hidden"
  >
    <md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
      <div class="d-flex align-items-center flex-shrink-0 mb-3">
        <div class="flex-fill md-display-1">{{ $t("pages.aboutUs") }}</div>
        <div class="flex-shrink-0">
          <md-button
            :to="{ name: 'edit' }"
            class="md-raised md-primary m-0"
          >{{ $t("buttons.edit") }}</md-button>
        </div>
      </div>
      <div class="flex-fill overflow-hidden d-flex">
        <div class="flex-fill overflow-auto">
          <div class="md-layout md-gutter m-1">
            <div class="md-layout-item px-0">
              <md-card class="mx-0">
                <md-card-area>
                  <md-card-content v-html="about.content"></md-card-content>
                </md-card-area>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </rct-loader-overlay>
</template>
