<template>
	<rct-loader-overlay
		:progress="loading"
		class="flex-fill mh-100 d-flex flex-column overflow-hidden"
	>
		<md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
			<div class="d-flex align-items-center flex-shrink-0 mb-3">
				<md-button class="md-icon-button md-mini m-0 mr-3" :to="{ name: 'news'}">
					<md-icon>arrow_back</md-icon>
				</md-button>
				<div class="flex-fill md-display-1">{{ title }}</div>
			</div>
			<div class="flex-fill d-flex overflow-hidden">
				<rct-form
					class="flex-fill"
					@save="save"
					@cancel="cancel"
					:save-label="$t('buttons.save')"
					:cancel-label="$t('buttons.cancel')"
				>
					<div class="md-layout md-gutter">
						<div class="md-layout-item" style="flex: 0 0 260px; max-width: 260px;">
							<rct-form-img
								class="mt-3"
								:label="$t('forms.image')"
								v-model="news.image"
								:validation="{ required: true }"
							/>
						</div>
						<div class="md-layout-item">
							<rct-form-text
								:label="$t('forms.title')"
								v-model="news.title"
								:validation="{ required: true }"
							></rct-form-text>
							<rct-form-select
								v-model.number="news.type"
								:label="$t('forms.type')"
								:options="types"
								:validation="{ required: true }"
							></rct-form-select>
							<rct-form-ckeditor class="mb-3" v-model="news.content" :config="editorConfig"></rct-form-ckeditor>
						</div>
					</div>
				</rct-form>
			</div>
		</md-content>
	</rct-loader-overlay>
</template>
