<template>
	<md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
		<div class="d-flex align-items-center flex-shrink-0">
			<div class="flex-fill md-display-1">{{ $t("pages.newsSlashPromotions") }}</div>
			<div class="flex-shrink-0">
				<md-button :to="{ name: 'createNews' }" class="md-raised md-primary m-0">{{ $t("buttons.add") }}</md-button>
			</div>
		</div>
		<div class="flex-fill overflow-hidden d-flex">
			<rct-table :data="news" class="flex-fill">
				<template slot="row" slot-scope="{ row }">
					<rct-table-cell :heading="$t('forms.title')">
						<p class="text-truncate">{{ row.title }}</p>
					</rct-table-cell>
					<rct-table-cell :heading="$t('forms.type')">{{ type(row.type) }}</rct-table-cell>
					<rct-table-cell :heading="$t('forms.created')">{{ row.createdAt | date('lll') }}</rct-table-cell>
					<rct-table-cell :heading="$t('forms.updated')">{{ row.updatedAt | date('lll') }}</rct-table-cell>
					<rct-table-cell :heading="' '">
						<div class="d-flex justify-content-end" style="margin-right: -24px">
							<md-button
								class="md-icon-button md-mini m-0"
								:to="{ name: 'editNews', params: { id: row.id }}"
							>
								<md-icon>edit</md-icon>
							</md-button>
						</div>
					</rct-table-cell>
				</template>
			</rct-table>
		</div>
	</md-content>
</template>

