<template>
  <md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
    <div class="d-flex align-items-center flex-shrink-0">
      <div class="flex-fill md-display-1">{{ $t("pages.cities") }}</div>
      <div class="flex-shrink-0">
        <md-button
          :to="{ name: 'addCity' }"
          class="md-raised md-primary m-0"
        >{{ $t("buttons.add") }}</md-button>
      </div>
    </div>
    <div class="flex-fill overflow-hidden d-flex">
      <rct-table :data="cities" class="flex-fill">
        <template slot="row" slot-scope="{ row }">
          <rct-table-cell :heading="$t('forms.city')">{{ row.name }}</rct-table-cell>
        </template>
      </rct-table>
    </div>
  </md-content>
</template>
