<template>
	<ValidationObserver v-slot="{ invalid }" tag="div" class="d-flex flex-column">
		<div class="flex-fill overflow-auto" :class="{'mb-2 border-bottom': showNav}">
			<slot></slot>
		</div>
		<md-toolbar class="flex-shrink-0 flex-grow-0" md-elevation="0" v-if="showNav">
			<div class="flex-fill"></div>
			<div class="flex-shrink-0">
				<md-button class="md-raised" @click="cancel">{{ cancelLabel }}</md-button>
				<md-button class="md-raised md-primary" @click="save" :disabled="invalid">{{ saveLabel }}</md-button>
			</div>
		</md-toolbar>
	</ValidationObserver>
</template>
