<template>
  <rct-loader-overlay
    :progress="loading"
    class="flex-fill mh-100 d-flex flex-column overflow-hidden"
  >
    <md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
      <div class="d-flex align-items-center flex-shrink-0 mb-3">
        <md-button class="md-icon-button md-mini m-0 mr-3" :to="{ name: 'home'}">
          <md-icon>arrow_back</md-icon>
        </md-button>
        <div class="flex-fill md-display-1">{{ $t("pages.aboutUsColonEdit") }}</div>
      </div>
      <div class="flex-fill d-flex overflow-hidden">
        <rct-form
          class="flex-fill"
          @save="save"
          @cancel="cancel"
          :save-label="$t('buttons.save')"
          :cancel-label="$t('buttons.cancel')"
        >
          <rct-form-ckeditor class="mb-3" v-model="about.content" :config="editorConfig"></rct-form-ckeditor>
        </rct-form>
      </div>
    </md-content>
  </rct-loader-overlay>
</template>
