<template>
	<rct-loader-overlay
		:progress="loading"
		class="flex-fill mh-100 d-flex flex-column overflow-hidden"
	>
		<md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
			<div class="d-flex align-items-center flex-shrink-0 mb-3">
				<md-button class="md-icon-button md-mini m-0 mr-3" :to="{ name: 'contacts'}">
					<md-icon>arrow_back</md-icon>
				</md-button>
				<div class="flex-fill md-display-1">{{ title }}</div>
			</div>
			<div class="flex-fill d-flex overflow-hidden">
				<rct-form
					class="flex-fill"
					@save="save"
					@cancel="cancel"
					:save-label="$t('buttons.save')"
					:cancel-label="$t('buttons.cancel')"
				>
					<fieldset class="border mb-3">
						<legend class="md-subheading">{{ $t("forms.socialNetworks") }}</legend>
						<rct-form-text
							label="Facebook"
							:icon="{ custom: 'si si-facebook' }"
							v-model="contacts.meta.facebook"
							:validation="{required: true, url: true}"
						></rct-form-text>
						<rct-form-text
							label="Telegram"
							:icon="{ custom: 'si si-telegram' }"
							v-model="contacts.meta.telegram"
							:validation="{required: true, url: true}"
						></rct-form-text>
						<rct-form-text
							label="Instagram"
							:icon="{ custom: 'si si-instagram' }"
							v-model="contacts.meta.instagram"
							:validation="{required: true, url: true}"
						></rct-form-text>
					</fieldset>
					<fieldset class="border mb-3">
						<legend class="md-subheading">{{ $t("forms.contacts") }}</legend>
						<rct-form-text
							:label="$t('forms.phone')"
							:icon="{ md: 'phone' }"
							v-model="contacts.meta.tel"
							:validation="{required: true}"
						></rct-form-text>
						<rct-form-text
							:label="$t('forms.generalQuestionsEmail')"
							:icon="{ md: 'email' }"
							v-model="contacts.meta.info"
							:validation="{required: true, email: true}"
						></rct-form-text>
						<rct-form-text
							:label="$t('forms.employmentIssuesEmail')"
							:icon="{ md: 'email' }"
							v-model="contacts.meta.hr"
							:validation="{required: true, email: true}"
						></rct-form-text>
					</fieldset>
					<rct-form-ckeditor class="mb-3" v-model="contacts.content" :config="editorConfig"></rct-form-ckeditor>
				</rct-form>
			</div>
		</md-content>
	</rct-loader-overlay>
</template>
