<template>
	<ValidationProvider
		:rules="validation"
		:name="label"
		tag="div"
		v-slot="{ errors, flags, valid, validate }"
	>
		<autocomplete
			v-model="value"
			:placeholder="label"
			:items="lookup"
			:loading="loading"
			:item-text="optLabel"
			:item-value="optValue"
			:disableFilteringBySearch="true"
			:disabled="disabled"
			:required="validation.required"
			@search="search"
			@select="changed"
		>
			<template slot="item" slot-scope="{ item }">
				<slot name="option" :option="item"></slot>
			</template>
			<template slot="errors">
				<span class="md-error" v-if="flags.touched && errors.length">{{ errors[0] }}</span>
			</template>
		</autocomplete>
	</ValidationProvider>
</template>
