<template>
	<rct-loader-overlay
		:progress="loading"
		class="flex-fill mh-100 d-flex flex-column overflow-hidden"
	>
		<md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
			<div class="d-flex align-items-center flex-shrink-0 mb-3">
				<md-button class="md-icon-button md-mini m-0 mr-3" :to="{ name: 'prices'}">
					<md-icon>arrow_back</md-icon>
				</md-button>
				<div class="flex-fill md-display-1">{{ $t("pages.editPrices") }}</div>
			</div>
			<div class="flex-fill d-flex overflow-hidden">
				<rct-form
					class="flex-fill"
					@save="save"
					@cancel="cancel"
					:save-label="$t('buttons.save')"
					:cancel-label="$t('buttons.cancel')"
				>
					<fieldset class="border mb-3">
						<legend class="md-subheading">{{ $t("forms.weightGoods") }}</legend>
						<div v-for="(price, index) in prices.deliveryPrices" :key="index">
							<rct-form-text
								:label="$t('forms.price')"
								v-model.number="prices.deliveryPrices[index]"
								:validation="{required: true}"
							></rct-form-text>
						</div>
					</fieldset>
					<fieldset class="border mb-3">
						<legend class="md-subheading">{{ $t("forms.luxuryGoods") }}</legend>
						<div v-for="(price, index) in prices.luxuryPrices" :key="index">
							<rct-form-text
								:label="$t('forms.price')"
								v-model.number="prices.luxuryPrices[index]"
								:validation="{required: true}"
							></rct-form-text>
						</div>
					</fieldset>
				</rct-form>
			</div>
		</md-content>
	</rct-loader-overlay>
</template>
