<template>
	<div class="md-elevation-1 p-5 text-center">
		<strong class="md-empty-state-label">{{ heading }}</strong>
		<p class="md-empty-state-description">{{ description }}</p>
	</div>
</template>
