<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	</head>
	<body class="d-flex">
		<div id="login"></div>
	</body>
</html>
