<template>
	<rct-loader-overlay
		:progress="loading"
		class="flex-fill mh-100 d-flex flex-column overflow-hidden"
	>
		<md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
			<div class="d-flex align-items-center flex-shrink-0 mb-3">
				<div class="flex-fill md-display-1">{{ $t("pages.prices") }}</div>
				<div class="flex-shrink-0">
					<md-button
						:to="{ name: 'editPrices' }"
						class="md-raised md-primary m-0"
					>{{ $t("buttons.edit") }}</md-button>
				</div>
			</div>
			<div class="flex-fill overflow-hidden d-flex">
				<div class="flex-fill overflow-auto">
					<div class="md-elevation-1 bg-white m-1 mb-3">
						<md-list>
							<md-subheader>{{ $t("forms.weightGoods") }}</md-subheader>
							<md-list-item>
								<div class="md-layout md-gutter w-100">
									<div
										class="md-layout-item"
										v-for="(price, index) in prices.deliveryPrices"
										:key="index"
									>{{$t('forms.priceWithCurrency', { price: price })}}</div>
								</div>
							</md-list-item>
						</md-list>
					</div>
					<div class="md-elevation-1 bg-white m-1">
						<md-list>
							<md-subheader>{{ $t("forms.luxuryGoods") }}</md-subheader>
							<md-list-item>
								<div class="md-layout md-gutter w-100">
									<div
										class="md-layout-item"
										v-for="(price, index) in prices.luxuryPrices"
										:key="index"
									>{{$t('forms.priceWithCurrency', { price: price })}}</div>
								</div>
							</md-list-item>
						</md-list>
					</div>
				</div>
			</div>
		</md-content>
	</rct-loader-overlay>
</template>
