<template>
	<div class="d-flex flex-fill align-items-center justify-content-center">
		<rct-loader-overlay style="width: 400px" :progress="loading">
			<md-card>
				<md-card-content class="pb-0">
					<div class="d-flex justify-content-center mb-2">
						<img :src="logo" style="width: 120px; height: auto;" />
					</div>
				</md-card-content>
				<md-card-header>
					<div class="md-title text-center">{{$t('forms.login')}}</div>
				</md-card-header>
				<md-card-content>
					<rct-form :show-nav="false">
						<rct-form-text
							:label="$t('forms.phoneNumber')"
							v-model="creds.phoneNumber"
							:validation="{ required: true }"
						></rct-form-text>
						<rct-form-text
							:label="$t('forms.codeFromSMS')"
							v-model="creds.password"
							:validation="{ required: true }"
							v-if="passwordSend"
						></rct-form-text>
					</rct-form>
				</md-card-content>
				<md-card-actions>
					<md-button
						class="md-raised md-primary"
						v-if="!passwordSend"
						@click="send"
					>{{$t('buttons.sendSMS')}}</md-button>
					<md-button
						class="md-raised md-primary"
						v-if="passwordSend"
						@click="login"
					>{{$t('buttons.logIn')}}</md-button>
				</md-card-actions>
			</md-card>
		</rct-loader-overlay>
	</div>
</template>