<template>
	<rct-loader-overlay
		:progress="loading"
		class="flex-fill mh-100 d-flex flex-column overflow-hidden"
	>
		<md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
			<div class="d-flex align-items-center flex-shrink-0 mb-3">
				<div class="flex-fill md-display-1">{{ $t("pages.shops") }}</div>
				<div class="flex-shrink-0">
					<md-button
						:to="{ name: 'createShop' }"
						class="md-raised md-primary m-0"
					>{{ $t("buttons.add") }}</md-button>
				</div>
			</div>
			<div class="flex-fill overflow-hidden d-flex">
				<rct-table :data="shops" class="flex-fill" ref="table">
					<template slot="filters">
						<rct-form :show-nav="false">
							<rct-form-select
								v-model="meta.city"
								:label="$t('forms.city')"
								:options="cities"
								opt-label="name"
							></rct-form-select>
						</rct-form>
					</template>
					<template slot="row" slot-scope="{ row }">
						<rct-table-cell :heading="$t('forms.address')">
							<div v-if="row.address">{{ row.address.name }}</div>
						</rct-table-cell>
						<rct-table-cell :heading="$t('forms.productDelivery')">{{ delivery(row.dayOfDelivery) }}</rct-table-cell>
						<rct-table-cell :heading="$t('forms.luxuryGoodsDay')">{{ delivery(row.deliveryLux) }}</rct-table-cell>
						<rct-table-cell :heading="' '">
							<div class="d-flex justify-content-end" style="margin-right: -24px">
								<md-button
									class="md-icon-button md-mini m-0"
									:to="{ name: 'editShop', params: { id: row.id }}"
								>
									<md-icon>edit</md-icon>
								</md-button>
							</div>
						</rct-table-cell>
					</template>
				</rct-table>
			</div>
		</md-content>
	</rct-loader-overlay>
</template>
