<template>
	<ValidationProvider
		:rules="validation"
		:name="label"
		tag="div"
		v-slot="{ errors, flags, valid, reset }"
	>
		<md-autocomplete
			v-model="value"
			:md-options="mdOptions"
			:name="id"
			:disabled="disabled"
			:v-validate="validation"
			@md-changed="mdSearch"
			@md-opened="mdSearch"
			@md-selected="changed"
			@input="changed"
			@change="changed"
			:class="{
				'md-required': validation.required,
				'md-invalid': !valid && flags.touched
			}"
		>
			<label>{{ label }}</label>
			<span class="md-error" v-if="flags.touched && errors.length">{{ errors[0] }}</span>
		</md-autocomplete>
	</ValidationProvider>
</template>
