<template>
	<ValidationProvider :rules="validation" :name="label" tag="div" v-slot="{ errors, flags, valid }">
		<md-field
			:class="{
                'md-required': isRequired,
                'md-invalid': !valid && flags.touched
            }"
		>
			<md-icon v-if="hasIcon" :class="customIcon">{{mdIcon}}</md-icon>
			<label>{{label}}</label>
			<md-input
				v-model="value"
				:type="type"
				:name="id"
				:disabled="disabled"
				@input="changed"
				@change="changed"
			/>
			<span
				class="md-error"
				:class="{'md-error-with-icon': hasIcon}"
				v-if="flags.touched && errors.length"
			>{{ errors[0] }}</span>
		</md-field>
	</ValidationProvider>
</template>