<template>
	<div class="md-toolbar-row">
		<div class="md-toolbar-section-start">
			<md-button class="md-icon-button" @click="toggle">
				<md-icon>menu</md-icon>
			</md-button>
			<span class="md-title">{{ $t("title") }}</span>
			<md-tabs class="md-accent">
				<md-tab :key="item.anchor" v-for="item in submenu" :md-label="$t(item.anchor)" :to="item.state"></md-tab>
			</md-tabs>
		</div>
		<div class="md-toolbar-section-end">
			<div class="mr-2">{{$t("fullName", user)}}</div>
			<md-menu md-direction="bottom-start">
				<md-button class="md-icon-button" md-menu-trigger>
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item @click="logout">{{$t('buttons.logOut')}}</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>
</template>
