<template>
	<rct-loader-overlay :progress="loading" class="page-container flex-fill">
		<md-app md-waterfall md-mode="fixed" style="height: 100vh" class="bg-light">
			<md-app-toolbar class="md-accent md-dense">
				<ShellHeader :toggle="toggle"></ShellHeader>
			</md-app-toolbar>
			<md-app-drawer :md-active.sync="drawer" style="max-width: 280px">
				<ShellDrawer :toggle="toggle"></ShellDrawer>
			</md-app-drawer>

			<md-app-content class="h-auto mnh-100 mh-100 d-flex flex-column overflow-hidden">
				<router-view></router-view>
			</md-app-content>
		</md-app>
	</rct-loader-overlay>
</template>
