<template>
	<rct-loader-overlay
		:progress="loading"
		class="flex-fill mh-100 d-flex flex-column overflow-hidden"
	>
		<md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
			<div class="d-flex align-items-center flex-shrink-0 mb-3">
				<md-button class="md-icon-button md-mini m-0 mr-3" :to="{ name: 'shops'}">
					<md-icon>arrow_back</md-icon>
				</md-button>
				<div class="flex-fill md-display-1">{{ title }}</div>
			</div>
			<div class="flex-fill d-flex overflow-hidden">
				<rct-form
					class="flex-fill"
					@save="save"
					@cancel="cancel"
					:save-label="$t('buttons.save')"
					:cancel-label="$t('buttons.cancel')"
				>
					<fieldset class="border mb-3">
						<legend class="md-subheading">{{ $t("forms.location") }}</legend>
						<rct-form-autocomplete
							v-model="meta.city"
							:label="$t('forms.city')"
							:options="cities"
							opt-label="name"
							:validation="{required: true}"
							@change="cityChanged"
						></rct-form-autocomplete>
						<rct-form-autocomplete-async
							v-model="shop.address"
							:label="$t('forms.address')"
							:options="address"
							:disabled="!meta.city"
							:validation="{required: true}"
							@change="meta.address = shop.address.name"
							format="object"
						></rct-form-autocomplete-async>
						<rct-form-text
							v-model="meta.address"
							:label="$t('forms.displayAddress')"
							:validation="{required: true}"
							:disabled="(!shop.address || !shop.address.id)"
						></rct-form-text>
					</fieldset>
					<fieldset class="border mb-3">
						<legend class="md-subheading">{{ $t("forms.productDelivery") }}</legend>
						<rct-form-select
							v-model.number="shop.dayOfDelivery"
							:label="$t('forms.dayOfWeightProductUpdate')"
							:options="weekdays"
							:validation="{required: true}"
						></rct-form-select>
						<rct-form-select
							v-model.number="shop.deliveryLux"
							:label="$t('forms.luxuryGoodsDay')"
							:options="weekdays"
							:validation="{required: true}"
						></rct-form-select>
					</fieldset>
					<fieldset class="border mb-3">
						<legend class="md-subheading">{{ $t("forms.workingHours") }}</legend>
						<div
							class="md-layout md-gutter md-alignment-center flex-nowrap"
							v-for="day in weekdays"
							:key="day.id"
						>
							<div class="md-layout-item">
								<md-toolbar
									class="md-dense"
									:class="{'md-primary': day.id == shop.dayOfDelivery, 'md-accent': day.id == shop.deliveryLux}"
									md-elevation="0"
								>
									<h3 class="md-title">{{day.title}}</h3>
								</md-toolbar>
							</div>
							<div class="md-layout-item">
								<rct-form-checkbox
									v-model="shop.workingSchedule[day.id].isClosed"
									:label="$t('forms.weekend')"
									@change="shop.workingSchedule[day.id].dayNum = day.id"
								></rct-form-checkbox>
							</div>
							<div class="md-layout-item">
								<rct-form-text
									v-model="shop.workingSchedule[day.id].start"
									:label="$t('forms.startOfWork')"
									:disabled="shop.workingSchedule[day.id].isClosed"
									@change="shop.workingSchedule[day.id].dayNum = day.id"
									:validation="{required: !shop.workingSchedule[day.id].isClosed, regex: /^([01]\d|2[0-3]):?([0-5]\d)$/}"
								></rct-form-text>
							</div>
							<div class="md-layout-item">
								<rct-form-text
									v-model="shop.workingSchedule[day.id].end"
									:label="$t('forms.endOfWork')"
									:disabled="shop.workingSchedule[day.id].isClosed"
									@change="shop.workingSchedule[day.id].dayNum = day.id"
									:validation="{required: !shop.workingSchedule[day.id].isClosed, regex: /^([01]\d|2[0-3]):?([0-5]\d)$/}"
								></rct-form-text>
							</div>
						</div>
					</fieldset>
				</rct-form>
			</div>
		</md-content>
	</rct-loader-overlay>
</template>
