<template>
	<ValidationProvider :rules="validation" :name="label" tag="div" v-slot="{ errors, flags, valid }">
		<md-field
			:class="{
				'md-required': validation.required,
				'md-invalid': !valid && flags.touched
			}"
		>
			<label :for="id">{{ label }}</label>
			<md-select v-model="value" :name="id" :disabled="disabled" @input="changed" @change="changed">
				<md-option
					v-for="option in options"
					:value="option[optValue]"
					:key="option[optValue]"
				>{{ option[optLabel] }}</md-option>
			</md-select>
			<span
				class="md-error"
				:class="{'md-error-with-icon': hasIcon}"
				v-if="flags.touched && errors.length"
			>{{ errors[0] }}</span>
		</md-field>
	</ValidationProvider>
</template>
