<template>
	<div>
		<md-content
			class="d-flex flex-column align-items-center justify-content-center p-3"
		>
			<img :src="logo" style="width: 150px; height: auto;" />
			<p class="md-body-2 fs-15">{{ $t("slogan") }}</p>
		</md-content>

		<md-list>
			<md-list-item
				@click="toggle"
				v-for="item in navigation"
				:to="item.state"
				:key="item.i"
			>
				<si-icon :name="item.icon"></si-icon>
				<!-- <md-icon>{{item.icon}}</md-icon> -->
				<span class="md-list-item-text">{{ $t(item.anchor) }}</span>
			</md-list-item>
		</md-list>
	</div>
</template>
