<template>
  <div class="position-relative">
    <slot></slot>
    <div
      v-if="progress"
      :class="{ 'bg-white z-index-5': progress }"
      class="position-absolute left-0 right-0 bottom-0 top-0 d-flex align-items-center justify-content-center"
    >
      <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
    </div>
  </div>
</template>
