<template>
  <rct-loader-overlay
    :progress="loading"
    class="flex-fill mh-100 d-flex flex-column overflow-hidden"
  >
    <md-content class="flex-fill mh-100 d-flex flex-column overflow-hidden">
      <div class="d-flex align-items-center flex-shrink-0 mb-3">
        <div class="flex-fill md-display-1">{{ $t("pages.contacts") }}</div>
        <div class="flex-shrink-0">
          <md-button
            :to="{ name: 'editContacts' }"
            class="md-raised md-primary m-0"
          >{{ $t("buttons.edit") }}</md-button>
        </div>
      </div>
      <div class="flex-fill overflow-hidden d-flex">
        <div class="flex-fill overflow-auto">
          <div class="md-elevation-1 bg-white m-1">
            <div class="md-layout md-gutter mb-3">
              <div class="md-layout-item">
                <md-list>
                  <md-subheader>{{ $t("forms.socialNetworks") }}</md-subheader>
                  <md-list-item>
                    <md-icon class="si si-facebook"></md-icon>
                    <div class="md-list-item-text">
                      <span>
                        <a :href="contacts.meta.facebook" target="_blank">{{contacts.meta.facebook}}</a>
                      </span>
                      <span>Facebook</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon class="si si-telegram"></md-icon>
                    <div class="md-list-item-text">
                      <span>
                        <a :href="contacts.meta.telegram" target="_blank">{{contacts.meta.telegram}}</a>
                      </span>
                      <span>Telegram</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon class="si si-instagram"></md-icon>
                    <div class="md-list-item-text">
                      <span>
                        <a
                          :href="contacts.meta.instagram"
                          target="_blank"
                        >{{contacts.meta.instagram}}</a>
                      </span>
                      <span>Instagram</span>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
              <div class="md-layout-item">
                <md-list>
                  <md-subheader>{{ $t("forms.contacts") }}</md-subheader>
                  <md-list-item>
                    <md-icon>phone</md-icon>
                    <div class="md-list-item-text">
                      <span>{{contacts.meta.tel}}</span>
                      <span>{{$t("forms.phone")}}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>email</md-icon>
                    <div class="md-list-item-text">
                      <span>{{contacts.meta.info}}</span>
                      <span>{{$t("forms.generalQuestionsEmail")}}</span>
                    </div>
                  </md-list-item>
                  <md-list-item>
                    <md-icon>email</md-icon>
                    <div class="md-list-item-text">
                      <span>{{contacts.meta.hr}}</span>
                      <span>{{$t("forms.employmentIssuesEmail")}}</span>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </div>
          <div class="md-layout md-gutter m-1">
            <div class="md-layout-item px-0">
              <md-card class="mx-0">
                <md-card-area>
                  <md-card-content v-html="contacts.content"></md-card-content>
                </md-card-area>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </rct-loader-overlay>
</template>
